.button-text {
  a:link, a:visited, a:hover, a:active {
  color: #000000;
  text-decoration: none;
  }
}

td, th {
  padding-right: 2rem;
}

.form-field-text {
  width: 100px;
}

// .form-text {
//   padding: .5rem;
// }
